<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
<div class="page-header">
  <h1>项目进展 <small>文思工作室</small></h1>
</div>
<div class="container">
{% if project_list %}
	{% for p in project_list %}
		<h2>{{ p.name }} <small>{{ p.description }}</small></h2>
		<hr/>

		<h5>未完成</h5>
		<table class="table table-bordered table-striped text-center">
		  <thead>
		  	<tr>
		  		<td>任务</td>
				  <td>优先级</td>
		  		<td>负责人</td>
		  		<td>计划日期</td>
		  		<td>进度</td>
				  <td>截止日期</td>
		  	</tr>
		  </thead>
		  <tbody>
		  	{% for t in p.get_unfinished_tasks %}
			  <tr>
			  	<td class="col-md-3"><a href="{% url 'show_task_detail' t.id %}">{{t.name}}</a><a href="{% url 'show_task_detail' t.id %}#disqus_thread"></a></td>
				  <td class="
				  {% if t.priority == 0 %}
				  	btn-success
				  {% elif t.priority == 1 %}
				  	btn-info
				  {% elif t.priority == 2 %}
				  	btn-warning
				  {% elif t.priority == 3 %}
						btn-danger
				  {% endif %}">{{t.get_priority_display}}</td>
			  	<td>{{t.assign_to}}</td>
			  	<td>{{t.plan_date|date:"m/d Y" }}</td>
				<td>
					<div class="progress">
	  					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{t.progress}}"
	  						aria-valuemin="0" aria-valuemax="100" style="width:{{t.progress}}%">{{t.progress}}%
	  					</div>
					</div>
				</td>
				<td class="
			  {% if t.status == 1 %}
			  	success
			  {% elif t.priority == 1 %}
			  	info
			  {% elif t.priority == 2 %}
			  	warning
			  {% elif t.priority == 3 %}
			  	danger
			  {% endif %}">{{t.due_date|date:"m/d Y" }}</td>
			  </tr>
		  	{% endfor %}
		  </tbody>
		</table>

		<h5>已完成</h5>
		<table class="table table-bordered table-striped text-center">
			<thead>
				<tr>
					<td>任务</td>
					<td>优先级</td>
					<td>负责人</td>
					<td>计划日期</td>
					<td>进度</td>
					<td>截止日期</td>
				</tr>
			</thead>
			<tbody>
				{% for t in p.get_finished_tasks %}
				<tr>
					<td class="col-md-3"><a href="{% url 'show_task_detail' t.id %}">{{t.name}}</a><a href="{% url 'show_task_detail' t.id %}#disqus_thread"></a></td>
					<td class="
					{% if t.priority == 0 %}
						btn-success
					{% elif t.priority == 1 %}
						btn-info
					{% elif t.priority == 2 %}
						btn-warning
					{% elif t.priority == 3 %}
						btn-danger
					{% endif %}">{{t.get_priority_display}}</td>
					<td>{{t.assign_to}}</td>
					<td>{{t.plan_date|date:"m/d Y" }}</td>
				<td>
					<div class="progress">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{t.progress}}"
								aria-valuemin="0" aria-valuemax="100" style="width:{{t.progress}}%">{{t.progress}}%
							</div>
					</div>
				</td>
				<td class="
				{% if t.status == 1 %}
					success
				{% elif t.priority == 1 %}
					info
				{% elif t.priority == 2 %}
					warning
				{% elif t.priority == 3 %}
					danger
				{% endif %}">{{t.due_date|date:"m/d Y" }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endfor %}
	</ul>
{% endif %}
</div>
<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		var disqus_shortname = 'nsnq-pm';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
				var s = document.createElement('script'); s.async = true;
				s.type = 'text/javascript';
				s.src = '//' + disqus_shortname + '.disqus.com/count.js';
				(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
</script>
</body>
</html>
